<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq62VuDEZfQnUMppIANE0tqcZ96_Bf7Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>859378346519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rickshare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rickshare-2c34e</string>
	<key>STORAGE_BUCKET</key>
	<string>rickshare-2c34e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859378346519:ios:7421c6086079babc850a52</string>
</dict>
</plist>